body{
  font-family:Arial
}

.sidebar {
  position:absolute;
  background-color: rgba(0,0,0,0.8);
  width:20px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  padding: 20px;
  font-family: Arial
}

.buttons{
  display:inline-block;
  z-index:1;
  bottom:40px;
  font-family: Arial;
  padding:5px 20px;
  border-style:hidden;
  radius:5px
}
